#nav {
  height: 2.2em;
  list-style-type: none; list-style-image: none;
  padding:0; margin: 0;
  padding-left: 1em;
}

#nav li {
  float: left;
  list-style-type: none; list-style-image: none;
  line-height: 1.2em;
  padding-right: 0.5em;
}

#nav a {
	color: #fff;
	position: relative;
	display: block;
}

/* styles for decent browsers */
#header>#nav {
	padding: 0;
}

#nav a {
  letter-spacing: 0;
  position: static;
  background-repeat: no-repeat;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
  background: #702F1D;
  color: #e1e1e1;
}

#nav a:hover {
	text-decoration: none; border: 0;
  color: #000;
}

#nav li.navSelected {
  font-weight: bolder;
}

#nav-reports li.navSelected {

}

#nav li.navSelected a {
  background: #D37A26 url(/images/tab-bg.gif) top repeat-x;
  color: #000;
  font-weight: bold;
}

#nav #nav-reports  {
  width: 7em;
}

#nav #nav-company  {
  width: 5em;
}

#nav #nav-invoices {
  width: 6em;
  padding-left: 3em;
}

#nav #nav-vouchers {
  width: 12em;
}

#nav #nav-drive-records {
  width: 8em;
}

#nav #nav-itemlists { 
    width: 8em;
}

#nav #nav-administration {
    width: 11em;
    padding-left: 6em;
}

#submenu {
  background: #E7E7E7;
  text-align: left;
  padding: .4em 0;
  margin: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#submenu ul {
  margin: 0; 
  padding: 0 1em;
}

#submenu li {
  float: left;
  list-style-type: none; list-style-image: none;
  line-height: 2.2em;
}

#submenu li a, #submenu li a:hover {
  padding: .3em .8em;
  border: 1px solid #e7e7e7;
}

#submenu li.subnavSelected a, #submenu li a:hover {
  padding: .3em .8em;
  background: #fff;
  border: 1px solid #bbb;
  text-decoration: none;
}

#submenu li.subnavSelected span {
  font-weight: bolder;
}

.simple-tab {
  float: left;
  padding: 0.3em 0.8em 0.3em 0.5em;
  font-weight: bolder;
}

.simple-tab-selected {
  float: left;
  font-weight: bolder;
  padding: 0.3em 0.8em 0.3em 0.5em;
  background: #e7e7e7;
}

ul.tabs li {
  float: left;
  list-style-type: none; list-style-image: none;
  line-height: 2.2em;
  padding-left: 1em;
}

ul.tabs li:hover{
   font-weight: bolder;
}

ul.tabs li.tab-selected span {
  font-weight: 14pt;
}
