  <br />---------------------------------------<br />   
  
  <%=Gchart.line(:theme => :thirty7signals,
            :data => @counts_sales_group, 
            :title => 'keynote',
            :axis_with_labels => ['x','y'],
            :axis_labels => [@sale.keys, @y_label],
            :format => 'image_tag')%>
  <br />---------------------------------------<br />            
  ---------------------------------------<br />            
         
            ---------------------------------------<br />
            <td><%= link_to('categories &nbsp', {:action => 'show_categories', :product_id => 1 },  {:title => 'categories for product'} )  %></td>
            ---------------------------------------<br />
            <td><%= link_to('products_by_user &nbsp', {:action => 'products_by_user'},  {:title => 'stats for products by user'} )  %></td>
            spatne
             
             
             