@import url('common.css');

/* Body */

body#bobina {
  background: #f5f5f5;
}

#container {
  margin: 0 auto;
	text-align: center;
	width: 81em;
}

#mainFrame {
	margin: 1em auto;
  padding: 1em;
	text-align: left;
	border: 1px solid #612911;
  background-color: #fff;
  width: 45em;
}

#mainFrame h1 {
  text-align: center;
  margin-bottom: .5em;
}

#mainFrame h2 {
  text-align: center;
  font-size: 10pt;
  line-height: 2.2em;
  color: #F29100;
}

#mainFrame h2.error {
  background: #F5ADAD;
  border: 2px solid #f00;
  border-left: none; border-right: none;
}

#mainFrame h2.notice {
  background: #612911;
  border: 2px solid #111111;
  border-left: none; border-right: none;
}


.login-form {
  margin: 0 auto;
  margin-top: 1em;
  width: 35em;
}

.login-form input {
  width: 20em;
  line-height: 1.2;
}

input.submit {
  margin-top: 1em;
  padding: 5px;
  width: auto;
}
p.notice {
  text-align: center;
  font-size: 10pt;
}

div.flash-notice {
  border: 2px solid #D37A26;
  background: #dfc;
  padding: 1em;
  margin: 1em 0;
}
