<div id="editform"><!--#info about div-->
<% form_for(@user, :url => { :action => "update_password", :id => @user.id }, :html => { :class => 'common-form'}) do |f| %>  
  <%= render :partial => 'password_form' %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
  </tr>
</div>
<%= link_to 'Back to shop', :controller => 'products', :action => 'index' %>