<table class="show-table" cellpadding="0" cellspacing="0">
  <tr>
    <th>Název</th>
    <td><%= @category.name %></td>
  </tr>
</table>
<br/>

<%= link_to 'Edituj', {:action => 'edit',:id => @category.id} %> |
<%= link_to 'Zpět', :action => 'index' %>