<% form_for(@product, :url => { :action => "update", :id => @product.id }, :html => { :class => 'common-form'}) do |f| %>  
  <%= render :partial => 'form' %>
  <p>
    <%= f.submit 'Update' %>
  </p>
  
<% end %>

<%= link_to 'Show', {:action => 'show',:id => @product.id} %> |
<%= link_to 'Back', :action => 'index' %>