
<% form_for(@user, :url => { :action => "update_password", :id => @user.id }, :html => { :class => 'common-form'}) do |f| %>  
  <%= render :partial => 'password_form' %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<%= link_to 'Back', :action => 'index' %>