<td><%= link_to 'likvidace', {:action => 'list'} %></td>


KLASICKY LAYOUT1
index.html.erb


<div>
size: {{ products | size }}<br />
LIQUID TEMPLATE
{% for product in products %}
  <div>
  {{product.name}}
  </div>
{% endfor %}
</div>

testovaci liquid